/*
********************************************
Subject: Global stylesheet for Srijan Bangla
Site: Srijan|Welfare Society
Site URI: http://srijanbangla.com/
Author: Sanjib Adhya
Author URI: http://apeandme.com/
Date: 03/13/2017
Version: 1.0
Tags: bootstrap, single-page, parallax, css3, svg
********************************************
*/

//font-family
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Roboto:300,900');

$merriweather: 'Merriweather', sans-serif;
$roboto: 'Roboto', sans-serif;


//font-size
$base-font: 16px;

$global-header: 150px;
$global-caption: 20px;
$global-title: 25px;
$global-text: 18px;
$global-semi-header: 28px;
$global-step-badge: $global-caption;
$global-alert: 14px;
$global-btn-txt: 24px;

$nav-font: 22px;

    //swiper slideshow
    $swiper-header: 300px;
    $swiper-caption: 55px;
    $swiper-nav: $global-caption;

    //blog
    $article-title: $global-caption;
    $article-date: 15px;
    $article-text: $global-text;

    //footer
    $footer-msg: 13px;

//font-weight
$merriweather-regular: 400;
$roboto-regular: 300;
$bold: 900;

//color (font + block)
$green: rgba(92, 227, 84, 1);
$dark-green: rgba(23, 96, 40, 1);
$orange: rgba(246, 130, 31, 1);
$dark-orange: rgba(127, 69, 18, 1);
$dark-ash: rgba(40, 40, 40, 1);
$ash: rgba(135, 135, 135, 1);
$faded-white: rgba(255, 255, 255, 0.5);

//global generic
html, body{
    background-color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: $base-font;
    font-weight: normal;
    line-height: normal;
    color: black;
    text-align: left;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

//generic attributes for sections
.welcome-section, .about-section, .mission-section, .events-section, .donate-section, .contact-section{
    background-color: white;
    padding-top: 0;
    overflow-x: hidden;
    
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
}

//attributes for wave shapes are inside _about.scss

.welcome-section{
    background-color: rgba(95, 236, 86, 1);
}//rest of the welcome section based attributes are coming from _swiper.scss partial


//partials
@import 'partials/mixin';
@import 'partials/buttons';
@import 'partials/icons';
@import 'partials/media';
@import 'partials/navbar';
@import 'partials/swiper';


//section based partials
@import 'partials/about';
@import 'partials/mission';
@import 'partials/events';
@import 'partials/donate';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/form';


/* '.mobile-only' selector will only work for all kinds of mobile devices */
@media screen and (min-width: $min-width){
    .mobile-only{display: block;}
}

@media screen and (min-width: $hd-view){
    .mobile-only{display: none;}
}


