/* 
upper wave shape => independent block => outside of about main section tag , tricky part !!! 
*/

@media screen and (min-width: $min-width){
    .upper-wave{display: none;}
}

@media screen and (min-width: $hd-view){
    .upper-wave{
        display: block;
        position: relative;
        width: 100%;
        background-color: rgba(95, 236, 86, 1);
    
        .upper-wave-content{
            width: 100%;
            height: 64px;
            position: absolute;
            z-index: 2;
            left: 0;
            top: -63px;
        }
    }
}



/* about section */
.about-section{
    
    //about content section
    .container-fluid{
        .col-lg-12{
            &.green{
                background-color: rgba(95, 236, 86, 1);
                
                //context image with parallax scrolling
                aside{
                    &.context-img{
                        max-width: 100%; 
                        height: auto; 
                        position: relative; 
                        z-index: 1;
                        padding-left: 0;                        
                        
                        .bordered-content{
                            display: none;
                            position: absolute;
                            z-index: 1;
                            right: -48px;
                            top: 60px;
                            background-color: transparent;
                            border: 25px solid $orange;
                            border-right: none;
                            padding: 100px 130px;
                            
                            &::before, &::after{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                background-color: $orange;
                                content: '';
                                width: 25px;
                                height: 33px;
                            }
                            
                            &::after{
                                top: 0;
                                height: 68px;
                            }
                            
                            span{
                                &.caption{
                                    font-family: $merriweather;
                                    font-size: $global-caption;
                                    font-weight: $merriweather-regular;
                                    color: white;
                                    text-align: left;
                                    line-height: 1.6;
                                    @include text-shadow(0, 3px, 1px, rgba(0, 0, 0, 0.1));
                                    position: relative;
                                    z-index: 2;
                                
                                    small{
                                        font-size: inherit;
                                        color: rgba(42, 165, 70, 1);
                                    }
                                }
                            }
                        }                        
                    }
                }
                
                //right side main content
                article{
                    h1{
                        font-family: $merriweather;
                        font-size: $global-header;
                        font-weight: $bold;
                        color: rgba(64, 136, 60, 0.5);
                        text-align: center;
                        text-transform: capitalize;
                    }
                    
                    p{
                        font-family: $roboto;
                        font-size: $global-text;
                        font-weight: $roboto-regular;
                        color: $dark-green;
                        text-align: justify;
                        line-height: 1.6;
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}


//320px and upto 1199px => special range to cover the landscape mode ipad like devices
@media screen and (min-width: $min-width) and (max-width: $desktop-view + 207px){
    .about-section{        
        height: auto;
    
    //about content section
    .container-fluid{
        .col-lg-12{
            &.green{
                background-color: rgba(95, 236, 86, 1);
                
                //context image with parallax scrolling
                aside{
                    &.context-img{
                        img{display: none;}
                        
                        .bordered-content{
                            display: none;
                        }                       
                    }
                }
                
                //right side main content
                article{
                    h1{
                        font-size: 5em;
                        color: white;
                        text-align: left;
                        
                        margin-top: 0;
                        padding-top: 0;
                        padding-bottom: 5px;
                        position: relative;                        
                        border-bottom: 1px solid white;
                        
                        &::before{
                            width: 15px;
                            height: 15px;
                            position: relative;
                            top: 0;
                            content: '';
                            display: block;
                            left: 0;
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-bottom: 25px solid transparent;
                            border-top: 25px solid white;
                        }
                    }
                    
                    p{
                        font-family: $roboto;
                        font-size: $base-font;
                        font-weight: $roboto-regular;
                        color: $dark-green;
                        text-align: left;
                        
                        padding: 0;
                        padding-bottom: 0px;
                        
                        &:last-of-type{
                            padding-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
}
}

//1200px and up
@media screen and (min-width: $hd-view){
    .about-section{
        width: 100%;
        height: auto;
        background-color: rgba(95, 236, 86, 1);
        overflow: hidden;
        padding-bottom: 128px; //double the height of the bottom wave svg shape
        
        .container-fluid{
            .col-lg-12{
                &.green{
                    padding-top: 65px;
                    
                    aside{
                        &.context-img{
                            .bordered-content{
                                display: block;
                                
                                span{
                                    &.caption{
                                    position: absolute;
                                    left: 56%;
                                    top: 70px;
                                    width: 650px;
                                    }
                                }
                            }
                            
                            img{
                                position: relative;
                                @include box-shadow(-40px, 21px, 1px, 0, rgba(0, 0, 0 ,0.4));
                            }
                        }
                    }
                    
                    //right side main content
                    article{
                        h1{
                            padding-right: 50px;
                            text-align: right;
                        }
                        
                        p{
                            padding-top: 50px;
                            padding-left: 55px;
                            padding-right: 55px;
                        }
                    }
            }
            }
        }
    }
}

//1600px and up
@media screen and (min-width: $hd-view + 400px){
    .about-section{
        .container-fluid{
            .col-lg-12{
                &.green{
                    aside{
                        &.context-img{
                            img{left: -50px;}
                        }
                    }
                }
            }
        }
    }
}


/* 
bottom wave shape => independent block => outside of about main section tag , tricky part 2 !!! 
*/

@media screen and (min-width: $min-width){
    .bottom-wave{display: none;}
}

@media screen and (min-width: $hd-view){
    .bottom-wave{
        display: block;
        position: relative;
        width: 100%;
        background-color: rgba(95, 236, 86, 1);
    
        .bottom-wave-content{
            width: 100%;
            height: 64px;
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: -63px;
            @include rotate(180deg);
        }
    }
}

