//all sprite icons

//icons for mission section
$mission-icon-spacing: 10px;
$mission-icon-layout: horizontal;
@import '../img/mission-icon/*.png';

.water-icon{
    @include mission-icon-sprite(water);
}

.sanitation-icon{
    @include mission-icon-sprite(sanitation);
}

.health-icon{
    @include mission-icon-sprite(health);
}

.education-icon{
    @include mission-icon-sprite(education);
}

.blood-icon{
    @include mission-icon-sprite(blood);
}

.houses-icon{
    @include mission-icon-sprite(houses);
}

.disabled-icon{
    @include mission-icon-sprite(disabled);
}


//icons for contact section
$contact-icon-spacing: 10px;
$contact-icon-layout: horizontal;
@import '../img/contact-icon/*.png';

.location-icon{
    @include contact-icon-sprite(location);
}

.phone-icon{
    @include contact-icon-sprite(phone);
}

.mail-icon{
    @include contact-icon-sprite(mail);
}

.fb-icon{
    @include contact-icon-sprite(facebook);
}

.twitter-icon{
    @include contact-icon-sprite(twitter);
}

.whatsapp-icon{
    @include contact-icon-sprite(whatsapp);
}

.snapchat-icon{
    @include contact-icon-sprite(snapchat);
}