/* mission section */
.mission-section{
    position: relative;
    
    .mission-bg{
        background-image: url(../img/mission/mission-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;        
        width: 100%;  
        height: 100%;
        max-height: 490px;
        overflow: hidden;
    }
    
    .container-fluid{
        //placeholder for centering all blocks inside hgroup
        %center{
            display: flex;
            display: -webkit-flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-content: center;
            align-content: center;
        }
        
        hgroup{        
            h1{           
            font-family: $merriweather;
            font-size: $global-header;
            font-weight: $bold;
            color: rgba(0, 0, 0, 0.5);
            text-align: center;
            text-transform: capitalize;
            
            margin-top: 80px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        
            span{
            font-family: $merriweather;
            font-size: $global-caption;
            font-weight: $merriweather-regular;
            color: $orange;
            text-align: center;
            line-height: 1.6;
            @include text-shadow(0, 3px, 1px, rgba(0, 0, 0, 0.1));            
            
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 40px;
        }
        }
        
        section{
            &.mission-cards{
                padding-bottom: 40px;
                
                .cards{
                    padding-top: 10px;
                    padding-bottom: 50px;
                    
                    i{
                        min-height: 120px;
                        height: 120px;
                        width: 116px;
                        max-width: 116px;
                        display: block;
                        margin-bottom: 20px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                    span{
                        &.mission-title{
                            position: relative;
                            @extend %center;
                            font-family: $merriweather;
                            font-size: $global-title;
                            font-weight: $bold;
                            color: $orange;
                            text-align: center;
                            padding-top: 15px;
                            
                            &::before{
                                position: absolute;
                                content: '';
                                left: 0;
                                top: 0;
                                width: 50%;
                                margin: 0 25%;
                                height: 1px;
                                background-color: $orange;
                            }
                        }
                    }
                    
                    p{
                        &.mission-desc{
                            @extend %center;
                            padding-top: 20px;
                            
                            font-family: $roboto;
                            font-size: $global-text;
                            font-weight: $roboto-regular;
                            text-align: center;
                            line-height: 1.5;
                            color: $dark-green;
                        }
                    }
                }
            }
        }
    }
    
}


//320px and upto 1199px => special range to cover the landscape mode in ipad like devices
@media screen and (min-width: $min-width) and (max-width: $desktop-view + 207px){
    .mission-section{
        margin-top: -10px;
        
    .mission-bg{
        background-image: none;
        background-color: white;
    }
    
    .container-fluid{
        hgroup{        
            h1{ 
            font-size: 4.3em;
            color: rgba(95, 236, 86, 1);
            text-align: right;
            
            margin-top: 0px;
            margin-bottom: 0;
            padding-top: 30px;
            padding-bottom: 5px;
            position: relative;
            border-bottom: 1px solid rgba(95, 236, 86, 1);
                
            &::after{
                width: 15px;
                height: 15px;
                position: absolute;
                top: 0;
                right: 0;
                content: '';
                display: block;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-top: 25px solid rgba(95, 236, 86, 1);
            }     
        }
        
            span{
                font-family: $roboto;
                font-size: $base-font;
                font-weight: $roboto-regular;
                color: $dark-green;
                text-align: right;
                
                width: 100%;
                float: left;
                padding: 0;
                padding-top: 15px;
                padding-bottom: 36px;
            }
        }
        
        section{
            &.mission-cards{
                
            }
        }
    }
    
}
}

//1200px and up
@media screen and (min-width: $hd-view){
    .mission-section{        
        .mission-bg{
            position: absolute;
            z-index: 1;
            margin: 0;
        }
        
        .container-fluid{
            hgroup{
                                
                h1{
                    display: flex;
                    display: -webkit-flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-align-content: center;
                    align-content: center;
                    margin-top: 197px;
                }  
                
                span{
                    display: flex;
                    display: -webkit-flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-align-content: center;
                    align-content: center;
                }
            }
            
            section{
                &.mission-cards{
                    div{
                        &.cards{
                            i{}
                        }
                    }
                }
            }
        }
    }
}